[submodule "OctaForce/vendor/spdlog"]
	path = OctaForce/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OctaForce/vendor/GLFW"]
	path = OctaForce/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
